:root {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 30px;
}
.mnwidth {
    max-width: 1600px;
    margin: 0px auto;
}
.bolder {
    font-weight: 700;
}
.text-54 {
    font-size: 54px;
}

.text-48 {
    font-size: 48px;
}

.text-35 {
    font-size: 35px;
}

.text-24 {
    font-size: 24px;
}

.text-18 {
    font-size: 18px;
}

.icons-media {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

            :root {
                --clr-primary: #d1d0de;
                --clr-secondary: #4c4c4c;
                --clr-tertiary: #fff; 
                --mainfont: #46a0c4;
                --primary-text: #4c4c4c;
            }
            .main-ct h1 {
                font-weight: 800;
                color: var(--mainfont);
                font-size: 50px;
                margin: 20px 0px;
                line-height: 60px;
            }
            body {
                margin: 0;
                line-height: inherit;
            }
            .btn {
                background-color: #f45b69;
            }
            .hdr-top {
                color: black;
                background-color: #fff;
                font-weight: 600;
                z-index: 99;
            }
            .main-ct {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
            }
            .main-ct .osans {
                font-family: 'Open Sans', sans-serif;
            }
            .p2 {
                font-size: 25px;
            }
            .p2b {
                font-size: 25px;
                font-weight: bold;
            }
            .ps {
                font-size: 14px;
            }
            .sect1-r > *:first-child {
                width: 110px;
                margin-bottom: 120px;
            }
            .sect1-r {
                display: flex;
                align-items: flex-end;
                gap: 23px;
            }
            
            .sect1 .p2b.osans {
                position: relative;
            }
            .p2b .arrw-lft {
                position: absolute;
                left: -50px;
                top: -40px;
            }
            .sect1 {
                background-color: #eef4ff;
                padding: 60px;
            }
            .sect1-l div.p2b {
                margin-bottom: 15px;
            }
            .sect1-l div.p {
                margin-bottom: 50px;
                font-size: 18px;
            }
            .sect1 .flx-lr {
                gap: 80px;
            }
            .sect2-bar a.btn {
                display: block;
                padding: 10px;
                color: white;
                font-weight: bold;
                border-radius: 10px;
                font-size: 20px;
                margin-bottom: 14px;
                width: 300px;
                text-align: center;
                margin-top: 30px;
            }
            .ps b {
                font-weight: bolder;
            }
            .sect2-bar {
                background-color: #fff;
                padding: 100px 20px;
                color: var(--clr-secondary);
            }
            .flx-bar i {
                color: #f45b69;
                margin-right: 10px;
            }
            
            .flx-bar > * {
                text-align: center;
                font-weight: 600;
                
            }
            
            .sect3 {
                padding: 40px 20px 20px 20px;
            }
            .sect3 h2 {
                font-size: 40px;
                font-weight: 800;
                color: #1b4a8c;
                text-align: center;
            }
            .flx3 {
                gap: 24px;
            }
            .flx3 > * {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                flex: 1 1 0px;
                padding: 38px;
                padding-top: 0px;
                margin-top: 80px;
                border-radius: 37px;
            }

            .brdr-pink {
                width: 144px;
                border-bottom: 4px solid #f45b69;
                margin: 23px 0px 23px 0px;
            }
            .center-margin {
                margin: 20px auto;
            }
            .sect3-offset-tp {
                text-align: center;
                margin-top: -53px;
            }
            .sect3-offset-tp img {
                border: 2px solid #d9d9d9;
                width: 84px;
                height: 84px;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.08);
                margin-bottom: 10px;
            }
            .sect3-offset-tp div.pb {
                font-weight: bold;
            }
            .sect3-offset-tp div.ps {
                font-size: 12px;
            }
            
            img.amps-image {
                width: 40px;
                margin: 20px 0px;
            }
            .flt-left {
                margin-bottom: 10px;
            }
            .flx3 p {
                letter-spacing: -0.63px;
                font-weight: 500;
                line-height: 1.38;
            }
            .flt-right {
                float: right;
            }
            .blob-box {
                background-color: var(--clr-tertiary);
                padding: 60px;
                border-radius: 60px;
                margin-bottom: -250px;
                position: relative;
                margin: 0px auto -250px auto;
                box-shadow: 0 2px 10px 0 #0000006e;
            }
            .sect4 .flx-lr {
                gap: 120px;
            }
            .sect4.offset-sect {
                padding: 40px 20px;
                width: 1500px;
                margin: 0px auto;
                max-width: 100%;
            }
            .sect4 .pb {
                font-weight: bold;
                margin-bottom: 30px;
                font-size: 20px;
            }
            .sect4 .pst {
                font-size: 25px;
                font-weight: 700;
                color: #1b4a8c;
                margin-bottom: 30px;
            }
            .sect4 div.p {
                font-size: 18px;
            }
            
            .sect5p-wdth {
                font-size: 25px;
                max-width: 100%;
                margin: 0px auto;
            }
            .redbx {
                background-color: #46a0c4;
                padding: 300px 20px 60px 20px;
                color: white;
            }
            .sect5 h1 {
                color: white;
                font-size: 40px;
                font-weight: 400;
            }
            .sect5 h1 b {
                font-weight: 700;
            }
            .sect5-l div.p2, .sect5-r div.p2 {
                font-weight: 700;
            }
            .sect5 .containersc {
                text-align: center;
            }
            .sect7 {
                background-color: #ffeeee;
                padding: 60px;
                padding-top: 80px;
            }
            .flx-lr {
                display: flex;
            }
            .flx-lr > * {
                flex: 1 1 0px;
            }
            .sect6.lr-procon {
                display: flex;
                justify-content: center;
                position: absolute;
                left: 0;
                right: 0;
                margin-top: -230px;
                color: white;
            }
            .sect6 .flx-lr {
                gap: 24px;
            }
            .sect6 .flx-lr > * {
                position: relative;
                background-color: #fff;
                color: #1b4a8c;
                padding: 69px 25px 60px 69px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                border-radius: 37px;
                width: 500px;
                max-width: 100%;
            }
            .sect6 .flx-lr ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            
            .sect6 .flx-lr > * > i {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 29px;
            }
            .sect5-l > i {
                color: green;
            }
            .sect5-r > i {
                color: red;
            }
            .sectoffst-7 {
                padding: 240px 20px 0px 20px;
                text-align: center;
                background-color: #ffeeee;
            }
            
            .sect7-flx-blobs {
                display: flex;
                flex-wrap: wrap;
            }
            .sect7-flx-blobs > * {
                width: calc(33% - 40px);
                margin: 20px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                padding: 45px;
                border-radius: 36px;
            }
            .sect7-blob {
                color: var(--primary-text);
                text-align: center;
                background-color: white;
            }
            .sect7-blob img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                margin-bottom: 25px;
                border-radius: 20px;
            }
            .sect7-blob h2 {
                font-size: 20px;
                font-family: 'Montserrat';
                font-weight: bold;
                margin-bottom: 17px;
            }
            .sect7-blob div.p {
                font-size: 18px;
            }
            img.chk-green, img.x-red {
                width: 23px;
            }
            .sect6-l > img,.sect6-r > img {
                position: absolute;
                top: 25px;
                right: 25px;
            }
            .sect6-l div.p2 {
                font-size: 30px;
                font-weight: bold;
            }
            .sect5-l > img, .sect5-r > img {
                position: absolute;
                top: 25px;
                right: 25px;
                height: 40px;
                width: 40px;
            }
            .sect6 li {
                margin-bottom: 20px;
                display: flex;
                align-items: flex-start;
            }
            li img.chk-green, li img.x-red {
                margin-right: 24px;
            }
            .sectoffst-7 div.p2 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            
            .sectoffst-7 a {
                display: block;
                width: 492px;
                max-width: 100%;
                margin: 0px auto;
                margin-bottom: 30px;
                color: white;
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: bold;
                border-radius: 10px;
            }
            
            div.sectoffst-7 div.p {
                font-size: 18px;
            }
            .blobwhite {
                background-color: white;
                padding: 150px;
                width: 1500px;
                margin: 0px auto;
                border-radius: 80px;
                max-width: 100%;
            }
            
            .clearfix.footer-clear-element.clearfix-lg {
                display: none;
            }
            
            .sect7 div.p {
                margin-bottom: 60px;
            }
            img.img-fluid {
                height: 400px;
                object-fit: cover;
                margin: 0px auto;
                border-radius: 20px;
                width: 100%;
            }
            .slick-slider {
                width: 100%;
                max-width: 520px;
            }
            @media (min-width: 1200px) {
                .containersc {
                    width: 1170px;
                    margin: 0px auto;
                }
            }
            @media(max-width: 1500px) {
                .flx-lr > * {
                    display: unset;
                }
                .sect1-r > *:first-child {
                    display: none;
                }
            }
            @media(max-width: 1100px) {
                .sect1 .flx-lr {
                    gap: 10px;
                }
                .flx-lr {
                    flex-direction: column;
                    max-width: 100%;
                }
                .flx-bar.flx-lr {
                    align-items: flex-start;
                }
                .flx-bar.flx-lr > * {
                    display: flex;
                    text-align: left;
                    align-items: baseline;
                    margin-bottom: 10px;
                }
                .sect1 {
                    padding: 20px;
                }
                .p2b .arrw-lft {
                    display: none;
                }
                .sect1-l div.p {
                    margin-bottom: 20px;
                    font-size: 18px;
                }
                li img.chk-green, li img.x-red {
                    margin: 0px !important;
                    margin-right: 15px !important;
                }
                .blobwhite {
                    margin-top: 20px;
                    padding: 20px;
                    border-radius: 36px;
                    padding-bottom: 0px;
                }
                .sect7-blob {
                    color: #1b4a8c;
                    text-align: center;
                }
                .sect7-flx-blobs > * {
                    width: 100%;
                    margin: 0px;
                    margin-bottom: 20px;
                }
                .sect7 {
                    padding: 20px;
                }
                .redbx {
                    padding: 300px 20px;
                } 
                .sectoffst-7 {
                    padding: 540px 20px 0px 20px;
                }
                .sect6.lr-procon {
                    display: flex;
                    margin-top: -230px;
                    max-width: 100%;
                    padding: 0px 20px;
                }
                .sect7 div.p {
                    margin-bottom: 20px;
                }
                .sect7-blob img {
                    width: 70%;
                    margin: 10px auto;
                }
                .main-ct h1 {
                    font-size: 35px;
                }
                .blob-box {
                    padding: 20px;
                }
                .sect3 {
                    padding: 20px;
                }
                .flt-left img {
                    margin: 10px 0px 20px 0px !important;
                }
                .sect4 .flx-lr {
                    gap: 20px;
                }
                .sect6 .flx-lr > * {
                    padding: 30px;
                }
                .sect4.offset-sect {
                    padding: 0px 20px;
                }
            
            }
            @media(max-width: 400px) {
                .sectoffst-7 {
                    padding: 550px 20px 0px 20px;
                }   
            }